{% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<link rel="icon" href="{% static 'simple21/s21.svg' %}" type="image/svg+xml" />

<title>{% block title %}{% endblock %}</title>
<nav id="main-menu" aria-labelledby="main-menu-title">
 <span id="main-menu-title" class="menu-title visually-hidden">Main</span>
 <span class="branding" aria-hidden="true">Menubar</span>
 <button href="" class="menu-toggle">☰<span class="visually-hidden"> Toggle Menu</span></button>
 <ul class="menu">
 </ul>


 <span class="navbar-text">TITLE</span>

 <form class="form-inline" action="/">
    <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-success" type="submit">Search</button>
 </form>
</nav>

{% block content %}{% endblock %}